block nav
  <nav>
    <ul>
      <li><a href="/">Home</a></li>
      <li><a href="all_books">Books</a></li>
      <li><a href="all_patrons">Patrons</a></li>
      <li><a href="all_loans">Loans</a></li>
    </ul>
  </nav>