extends ./layout.pug

block content
  h1= title
  p Welcome to #{title}
  ul
    li Books
      ul
        li
          a(href="/books/new", title="title") New Book
        li
          a(href="/books", title="title") List All
        li
          a(href="/books/overdue", title="title") List Overdue
        li
          a(href="/books/checked", title="title") List Checked Out
    li Patrons
      ul
        li
          a(href="/patrons/new", title="title") New Patron
        li
          a(href="/patrons", title="title") List All
    li Loans
      ul
        li
          a(href="loans/new", title="title") New Loan
        li
          a(href="loans", title="title") List All
        li
          a(href="loans/overdue", title="title") List Overdue
        li
          a(href="loans/checked", title="title") List Checked Out
