tbody
     for book in filtered
      tr
        td
          a(href='/books/' + book.Book.id) #{book.Book.title} 
        td #{book.Book.author} 
        td #{book.Book.genre} 
        td #{book.Book.first_published} 