include ./../layout.pug

block content
  h1 #{title}
  p
    a(href="/loans/new").button Create New Loan
  p Filters 
    a(href="/loans") All 
    |  | 
    a(href="/loans/overdue") Overdue 
    |  | 
    a(href="/loans/checked") Checked Out 
  table
    thead
      tr
        th Book
        th Patron
        th Loaned On
        th Return By
        th Returned On
        th Action
    if loans
      include ./tables/all_loans.pug
